*{
	box-sizing: border-box;
}



body,html{
	font-size: 16px;
	font-weight: 400;
	font-family:'Montserrat',sans-serif;
	color: rgb(0,0,0,87);
	margin: 0;
	color: rgba(0, 0, 0, 0.870588);
	line-height: 1.6;
}

.header{
	height: auto;
}

.top-bar{
	padding: 20px 15px;
	left: 0;
	right: 0;
	height: auto;
	width: 100%;
	background-color: white;
	box-shadow: 0px -1px 5px   rgba(0,0,0,0.1);
	z-index: 3;
}
.top-bar-nav{
	overflow: hidden;
	float: left;
	padding:0px 0px 0px 72px ;	

	display:flex;
	flex-direction:column;
	align-items:flex-start;
	float: none;
	padding: 0px;
}

.top-bar-nav a{
	padding: 0px 53px ;
	text-transform: capitalize;
	text-decoration-line: none;
	text-decoration: none;
	font-weight:500;
	font-size:16px;
	color:rgb(159, 159, 159);
	transition: color .3s;
}

.top-bar-nav-a:hover,.top-bar-nav-a.active{
	color:  rgb(0, 0, 0);
}

.header-icon{
	float: right;
	padding: 0px 10px 0px 0px;

	display: flex;
	flex-direction:column;
	float: none;
	position: absolute;
	top: 35px;
	right: 10px;
}

.header-icon a{
	margin:10px 0px;
	color:rgb(159, 159, 159);
	transition: color .3s;
}
.header-icon a:hover{
	color:  rgba(0, 0, 0,0.8);
}
.header-bottom{
	background-image: url("../images/banner4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 400px;
	clear: both;
	
}
.twitter-logo{
	padding-top: 1px;		
}
.section{
	height: auto;
	
}
.main{
	width:100%;
	padding: 0px 20px;
}
.aside{
	width: 100%;
	background-color: #FBFBFB;
	padding: 10px;
	box-shadow: -1px 0px 5px   rgba(0,0,0,0.1);
}
.container{
	/*max-width: 880px;*/
	margin: 0px auto;
}
.article{
	margin: 50px 0px;
	min-height: 200px;
	z-index: 2;
}
.article-image{
	width: 300px;
	margin: 0px 32px 0px 0px;
	height: auto;
}


.article-content{
	
}
.date-post{
	color: rgba(0, 0, 0, 0.6);
	font-family: Montserrat,sans-serif; 
	font-weight: 300;
	margin: 0px 0px 7px 0px;
}

.article h2{
	margin:0px;
}
.article h2 a{
	text-decoration-line: none;
	color: #000;
	font-family: cardo,sans-serif;
	font-weight: 700;
	font-size: 36px;
	text-align: initial; ;
}
.article h2 a{
	 
}
.article h2 a::after{
	content: '';
	display: block;
	width: 100px;
	height: 1px;
	background-color: white;
}
.article p{
	line-height: 26px;
	max-height: 521px;
	margin-top: 0px;
	overflow: hidden;
	text-align: justify;
}
.categories-title-ul{
	padding:0px 0px 0px 55px;
	margin: 0px;
}
.categories-content{
	
}
.categories-title{
	padding:43px 0px 30px 55px;
	margin:0px;
	font-size: 30px;
	font-weight: 700;
}
.categories-link{
	list-style-type: none;
	color:#9F9F9F;
	font-size: 17px;
	padding-bottom: 17px;
}

.categories-title-ul li:last-child{
	padding-bottom: 0px;
}

.categories-link a{
	text-decoration-line: none;
	color: #9F9F9F;
}
.categories-link a:hover{
	color:  rgba(0, 0, 0,0.9);
}
.categories-title-ul{
	counter-reset: s_list;
}
.categories-link a::after{
	content:attr( data-count);
	background-color: lightgrey;
	width: 25px;
	height: 25px;
	float:right;
	text-align: center;
	border-radius:25%;
}
.categories-link a::before{
	counter-increment:s_list ;
	content: counter(s_list)". ";
}
.horizontal-rule{
	width: 281px;
	margin: 40px 48px 5px;
	border:none;
	height: 1px;
	background: #C4C4C4;
	opacity: 0.5
	
}
.footer{
	clear: both;
}
.blockote{
	display: inline-block;
	background-color: lightgrey;
	height: 50px;
	padding: 10px 5px;
	position:relative;
}
.blockote::before{
	content: '“';
	position: absolute;
	font-size: 40px;
	left: -15px;
	bottom: 10px;
}
.blockote::after{
	position: absolute;
	content: '”';
	font-size: 40px;
	bottom:-35px;
}
p{
	line-height: 26px;
		/*j'etais fatiguer d'écrire ou de sélèctionner*/
}


.article-image{
	/*animation: slidedown 5s;*/
}

@media screen and (min-width: 400px){
	.top-bar-nav{
		flex-direction: row;
		justify-content: space-between;
	}
	.top-bar-nav a{
		padding: 0px 15px;
		white-space: nowrap;
	}
	.header-icon{
		flex-direction: row;
		justify-content: center;
		position: static;
		top:0;
		left: 0;
	}

	.header-icon a{
		margin: 0px 10px;
		margin-top: 5px;
	}
}
@media screen and (min-width: 740px){

	.header-icon a{
		margin: 0px 15px;
	}

	.article-image{
		position: absolute;
		top: 3;
		left: 0;
	}
	.article{
	padding-left: 330px;
	position: relative;
	}
}

@media screen and (min-width: 1175px){
	.top-bar{
		display: flex;
		justify-content: space-between;
	}
	.top-bar-nav a{
		margin: 0px 30px;
	}
	.section{
		display: flex;
	}
	.main{
		 width: calc(100% - 375px);
	}
	.aside{
		width: 375px;
	}
	.top-bar{
		position: fixed;
	}
}

/*
@media screen and (max-width: 1175px){
	.section{
		display: block;
	}
	.main{
		width: 100%;
	}
	.aside{
		width: 100%;
	}
	.top-bar-nav a{
		padding: 0px 30px;
	}
}

@media screen and (max-width: 747px){

	.article-image{
		position: static;
		width: 80%;
	}
	.article{
		padding-left: 0px;
	}
	.top-bar{
		padding: 10px 15px;
	}
	
}
@media screen and (max-width: 725px){

	.top-bar-nav,.header-icon{
		float: none;
	}
	.header-icon{
		clear: both;
		width: 100px;
		margin-top:15px;
		margin: 15px  auto 0px 200px;
	}
	.top-bar-nav a{
		padding: 0px 15px;
	}
	
}
@media screen and (max-width: 510px){

	.top-bar-nav{
	display:flex;
	flex-direction:column;
	align-items: center;
	float: none;
	padding: 0px;
	}
	.header-icon{
		display: flex;
		flex-direction:column;
		position: absolute;
		top: 23px;
		margin:0px;
		right: 10px;
	}
	.header-icon a{
		margin:10px 0px;
	}
	.top-bar{
		position: static;
	}
	
}

*/


