*{
	box-sizing: border-box;
}


body{
	margin: 0;
}

.header{
	padding: 15px;
	height: auto;
	overflow: hidden;
	background-color:lightgrey;
}

.header-nav{
	padding-top: px;
	overflow: inherit;
}

.header-nav-a{
	
	float: left;
	
}
.header-icon{
	
	padding: 0px 20px 0px 0px
}
.header-icon i{
	padding-left: 7px;

}
